@using Assignment03.EntityProviders;
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @if (this.Role == default(int))
            {
                <span><p>Loading...</p></span>
            }

            else if (Role == (int)RoleEnums.Admin || Role == (int)RoleEnums.Manager)
            {
                @Body
            } else {
            <Unauthorized></Unauthorized>
            }
        </article>
    </main>
</div>
