<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Assignment03</a>
    </div>
</div>

<div>
    <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Admin/Products" >
                    <span class="oi oi-calculator" aria-hidden="true"></span> Products
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Admin/Categories" >
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Admin/Orders" >
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Orders
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Admin/Users" >
                    <span class="oi oi-people" aria-hidden="true"></span> Users
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Admin/Carts" >
                <span class="oi oi-cart" aria-hidden="true"></span> Carts
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            </div>

    </nav>
</div>

