@page "/"
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs

<PageTitle>Index</PageTitle>
<div class="container mt-5">
    <div class="row justify-content-center align-content-between">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h2 class="mb-3">Login</h2>
            <table border="0" cellpadding="2" cellspacing="2">
                <tr>

                    <td><SfTextBox Type="InputType.Email" Placeholder="Email Address" @bind-Value=Email></SfTextBox></td>

                </tr>
                <tr>
                    <td><SfTextBox Type="InputType.Password" Placeholder="Password" @bind-Value=Password></SfTextBox></td>
                </tr>

                <tr>
                    <td>
                        <h4 class="text-danger">@Warning</h4>
                    </td>
                </tr>

                <tr>
                    <td>
                        <SfButton @onclick="async () => await SignInAsync()" >Login</SfButton>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
