@page "/Admin/Products/Details/{Id}"
@using Assignment03.EntityProviders;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns

@namespace Assignment03.BlazorWebApp


<PageTitle>Product</PageTitle>
<h3>Product Detail</h3>
