@page "/Admin/Products"
@using Assignment03.EntityProviders;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

@namespace Assignment03.BlazorWebApp

@if (this.Role < 0) {
    <Unauthorized></Unauthorized>
} else if (this.Role == default(int)) {
    <span><p>Loading...</p></span>
} else if (Role != (int)RoleEnums.Admin && Role != (int)RoleEnums.Manager) {
    <Unauthorized></Unauthorized>
} else {
    <PageTitle>Products</PageTitle>
}

