@page "/Admin/Products"
@using Assignment03.EntityProviders;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

@namespace Assignment03.BlazorWebApp

@if (this.Role < 0) {
    <Unauthorized></Unauthorized>
} else if (this.Role == default(int)) {
    <span><p>Loading...</p></span>
} else if (Role == (int)RoleEnums.Admin || Role == (int)RoleEnums.Manager|| Role == (int)RoleEnums.Employee) {
    <PageTitle>Products</PageTitle>
    <SfButton CssClass="e-inherit" IconCss="e-icons e-plus" OnClick="() => AddNew()">Add New Product</SfButton>
} else {
    <Unauthorized></Unauthorized>
}

